{% extends "menu/base.html" %}
{% load staticfiles %}

{% block includes %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'statistics/css/current-day-orders.css' %}">
<link rel="stylesheet" href="{% static 'css/simple-table.css' %}">
{% endblock includes %}

{% block categories %}
<table class="simple-table order-table">
    <caption>List of orders</caption>
    <tr class="simple-table-row">
        <th>#</th>
        <th>Order time</th>
        <th>Cost</th>
        <th>Link to cheque</th>
    </tr>
    {% for order in orders %}
    <tr class="simple-table-row">
        <td class="simple-table-data__center" >{{ order.pk }}</td>
        <td class="simple-table-data__center">{{ order.date.time }}</td>
        <td class="simple-table-data__center">{{ order.cost }}</td>
        <td class="simple-table-data__center"><a href="{% url "cheque_url" pk=order.pk %}">cheque</a></td>
    </tr>
    {% empty %}
    <tr class="simple-table-row">
        <td colspan="4" class="simple-table-date__center">There are no orders today.</td>
    </tr>
    {% endfor %}
</table>
<table class="simple-table general-inforamation-table">
    <caption>General information</caption>
    <tr class="simple-table-row">
        <td>Total sum</td>
        <td>{{ total_sum }}</td>
    </tr>
    <tr class="simple-table-row">
        <td>Amount of orders</td>
        <td>{{ orders_amount }}</td>
    </tr>
    {% endblock categories %}
</table>
