{% extends "menu/base.html" %}
{% load staticfiles %}

{% block includes %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'statistics/css/general-statistics.css' %}">
<link rel="stylesheet" href="{% static 'css/simple-table.css' %}">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{% static 'statistics/js/general-statistics.js' %}"></script>
{% endblock includes %}

{% block categories %}

<table class="simple-table statistics-for-days">
    <caption>Statistics for days</caption>
    <tr class="simple-table-row">
        <th>
            Day
        </th>
    {% for day in day_range %}
        <td class="simple-table-data__center">
            {{ day }}
        </td>
    {% endfor %}
    </tr>
    <tr class="simple-table-row">
        <th>
            Number of orders
        </th>
    {% for statistics_item in statistics_for_days %}
        <td class="simple-table-data__center">
            {{ statistics_item.number_of_orders }}
        </td>
    {% endfor %}
    </tr>
    <tr class="simple-table-row">
        <th>
            Total cost
        </th>
    {% for statistics_item in statistics_for_days %}
        <td class="total-cost-data-item simple-table-data__center">
            {{ statistics_item.total_cost }}
        </td>
    {% endfor %}
    </tr>
</table>

<table class="simple-table statistics-for-months">
    <caption>Statistics for months</caption>
    <tr class="simple-table-row">
        <th>
            Month
        </th>
    {% for month in month_range %}
        <td class="simple-table-data__center">
            {{ month }}
        </td>
    {% endfor %}
    </tr>
    <tr class="simple-table-row">
        <th>
            Number of orders
        </th>
    {% for statistics_item in statistics_for_months %}
        <td class="simple-table-data__center">
            {{ statistics_item.number_of_orders }}
        </td>
    {% endfor %}
    </tr>
    <tr class="simple-table-row">
        <th>
            Total cost
        </th>
    {% for statistics_item in statistics_for_months %}
        <td class="simple-table-data__center">
            {{ statistics_item.total_cost }}
        </td>
    {% endfor %}
    </tr>
</table>

<table class="simple-table dish-day-statistics">
    <caption>Statistics of ordering different dishes per day</caption>
    <tr class="simple-table-row">
        <th rowspan="2">Dish</th>
        <th colspan="{{ days_in_month }}">Days</th>
    </tr>
    <tr class="simple-table-row">
        {% for day in day_range %}
            <td>
                {{ day }}
            </td>
        {% endfor %}
    </tr>

    {% for dish_name, quantity_per_day in dishes_per_day.items %}
    <tr class="simple-table-row">
        <td>{{ dish_name }}</td>
        {% for day, quantity in quantity_per_day.items %}
            <td>{{ quantity }}</td>
        {% endfor %}
    </tr>
    {% endfor %}

</table>

<table class="simple-table dish-month-statistics">
    <caption>Statistics of ordering different dishes per month</caption>
    <tr class="simple-table-row">
        <th rowspan="2">Dish</th>
        <th colspan="{{ months_in_year }}">Months</th>
    </tr>
    <tr class="simple-table-row">
        {% for month in month_range %}
            <td>
                {{ month }}
            </td>
        {% endfor %}
    </tr>

    {% for dish_name, quantity_per_month in dishes_per_month.items %}
    <tr class="simple-table-row">
        <td>{{ dish_name }}</td>
        {% for month, quantity in quantity_per_month.items %}
            <td>{{ quantity }}</td>
        {% endfor %}
    </tr>
    {% endfor %}

</table>

<div class="order-total-sum-graph">
</div>
{% endblock categories %}
