{% load staticfiles %}
<html>
  <head>
    <title>World Scills</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block includes %}
    <link href="{% static 'menu/css/libs/bootstrap_sandstone.css' %}" rel="stylesheet">
    <link href="{% static 'menu/css/style.css' %}" rel="stylesheet">

    <script src="{% static 'menu/js/libs/jquery.min.js' %}"></script>
    <script src="{% static 'menu/js/libs/bootstrap.min.js' %}"></script>
    {% endblock includes %}

  </head>
  <body>
    <div class="">
      <div class="row">

        <div class="col-md-8">
            <!-- Nav tabs -->
            {% block categories %}
            {% endblock categories %}

            <!-- Tab panes -->
            {% block tab-panes %}
            {% endblock tab-panes %}
        </div>

        <div class="col-md-4 calculator-container">
            {% block calculator %}
            {% endblock calculator %}
        </div>

      </div>
    </div>
  </body>
</html>
