{% extends "menu/base.html" %}
{% load staticfiles %}

{% block includes %}
{{ block.super }}
<script type="text/javascript" src="{% static 'menu/js/menu.js' %}"></script>
{% endblock includes %}

{% block categories %}
<ul class="categories" role="tablist">
    {% for category in categories %}
        <li role="presentation"
            {% if forloop.counter == 1 %}
                class="active"
            {% endif %}>
            <a href="#tab-{{ forloop.counter }}"
                {% if forloop.counter == 1 %}
                    aria-expanded="true"
                {% endif %}
               aria-controls="tab-{{ forloop.counter }}"
               role="tab" data-toggle="tab">
                {{ category.name }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock categories %}


{% block tab-panes %}
<form name="menu" method="POST">{% csrf_token %}
    <div class="tab-content">
        {% for category in categories %}
            <div role="tabpanel"
                class="tab-pane {% if forloop.counter == 1 %} active {% endif %}"
                id="tab-{{ forloop.counter }}">

                <div class ="items">
                {% for dish in category.dish_set.all %}
                    <div class="item">
                        <div class="item-image">
                            <image src='{% if dish.image %}
                                            {{ dish.image.url }}
                                        {% endif %}'>
                            <div class='item-price'>{{ dish.cost }}</div>
                        </div>
                        <div class="item-description">{{ dish.name }}</div>
                    </div>
                {% endfor %}
                </div>

            </div>
        {% endfor %}
    </div>
</form>
{% endblock tab-panes %}

{% block calculator %}
<div class="calculator">
    <table class="table">
        <thead> <tr> <th></th> <th>Наименование</th> <th>Кол-во</th> <th>Цена</th>  <td></td></tr> </thead>
        <tbody>

        {% for basket_item in basket_items %}
            <tr class="basket-item" name="{{basket_item.dish_name}}">
                <th scope="row">{{forloop.counter}}</th>
                <td class="basket-item-name">{{basket_item.dish_name}}</td>
                <td class="basket-item-quantity"><input type="number" min='1' value="{{basket_item.quantity}}"></td>
                <td class="basket-item-price">{{basket_item.price}}</td>
                <td class="remove-dish-button">&#10006;</td>
            </tr>
        {% empty %}
            <tr class="basket-no-item"> <th></th> <th colspan="3">There are no items in the order.<th> </tr>
        {% endfor %}
            <tr>
                <th scope="row"></th>
                <th>Итого</th>
                <td></td>
                <th class="basket-in-total">{{ in_total }}</th>
            </tr>

        </tbody>
    </table>
    <div class="calc-buttons" >
        <form>
            <button class='calc-button calc-button-clean'>Очистить</button><button formaction="{% url 'cheque_url' order_pk %}" class='calc-button calc-button-checkout'>Оформить заказ</button>
        </form>
    </div>
</div>
{% endblock calculator %}
