{% extends "menu/base.html" %}
{% load staticfiles %}

{% block includes %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orders/style.css' %}">
<link rel="stylesheet" href="{% static 'css/simple-table.css' %}">
{% endblock includes %}

{% block categories %}
<div class="cheque">
    <h3>Чек</h3>
    <table class="simple-table cheque-general-info">
        <tr class="simple-table-row cheque-number">
            <td>Номер заказа:</td><td>{{ object.pk }}</td>
        </tr>
        <tr class="simple-table-row cheque-data">
            <td>Дата заказа:</td><td>{{ object.date.date }}</td>
        </tr>
        <tr class="simple-table-row cheque-time">
            <td>Время заказа:</td><td>{{ object.date.time }}</td>
        </tr>
    </table>
    <table class="simple-table cheque-items">
        <tr class="simple-table-row cheque-item">
            <th class="simple-table-data__center">#</th>
            <th class="simple-table-data__center">Название блюда</th>
            <th class="simple-table-data__center">Количество</th>
            <th class="simple-table-data__center">Стоимость</th>
            <th class="simple-table-data__center">Сумма</th>
        </tr>
        {% for item in items %}
        <tr class="simple-table-row cheque-item">
            <td class="cheque-item-number"> {{ forloop.counter }}</td>
            <td class="cheque-item-name"> {{ item.name }}</td>
            <td class="simple-table-data__center cheque-item-quantity"> {{ item.quantity }}</td>
            <td class="simple-table-data__center cheque-item-cost"> {{ item.cost }}</td>
            <td class="simple-table-data__center cheque-item-sum"> {{ item.sum }}</td>
        </tr>
        {% empty %}
        <tr class="simple-table-row">
            <td colspan="5">There are no items in the order.</td>
        </tr>
        {% endfor %}
        {% if items %}
        <tr class="simple-table-row cheque-in-total">
            <th></th>
            <th colspan="3" class="cheque-item-sum">Итого</td>
            <th class="simple-table-data__center">{{ object.cost }}</th>
        </tr>
        {% endif %}
    </table>
</div>

{% endblock categories %}
