.simple-table {
    font-family: Arial;
    font-size: 16px;
}

.simple-table caption {
    padding: 5px 10px;
    margin: 0;
}

.simple-table-row {
    background: red;
}

.simple-table-row td {
    padding: 7px;
    color: #464646;
}

.simple-table-row:nth-child(odd) {
    background-color: #ddf;
}

.simple-table-row:nth-child(even) {
    background-color: #dfd;
}

.simple-table-row th {
    color: #464646;
    padding: 7px 10px;
    background-color: #bebefe;
}

.simple-table-row th:first-child {
    padding-left: 10px;
}

.simple-table-data__center {
    text-align: center;
}
