.cheque {
    font-family: Arial;
    font-size: 16px;
}

.cheque h3 {
    padding: 5px 10px;
    margin: 0;
}

.cheque-row {
    background: red;
}

.cheque-row td {
    padding: 7px;
    color: #464646;
}

.cheque-row:nth-child(odd) {
    background-color: #ddf;
}

.cheque-row:nth-child(even) {
    background-color: #dfd;
}

.cheque-row th {
    color: #464646;
    padding: 7px 10px;
    background-color: #bebefe;
    text-align: center;
}

.cheque-row th:first-child {
    padding-left: 10px;
}

.cheque-row .cheque-item-number {
    color: #888;
}

.cheque-general-info {
    margin-top: 10px;
}

.cheque-items {
    margin-top: 20px;
}

.cheque-items .cheque-row td:nth-child(n + 3) {
    text-align: center;
}

.cheque-in-total th:nth-child(2) {
    text-align: left;
}
