.simple-table {
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;
}

.simple-table caption {
    font-size: 18px;
    color: #333;
}

.simple-table td {
    padding: 7px 5px 7px 10px;
}

.simple-table th {
    text-align: center;
}

.general-inforamation-table {
    margin-top: 20px;
}
